/data
index/data.direct.bf
index/data.lexicon.fsomapid
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.properties
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.properties
__pycache__/retrieve_results.cpython-38.pyc
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.meta-0.fsomapfile
index/data.meta.idx
index/data.meta.zdata